@import url('./media.css');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
      
.all-wrapper{
  background: #000;
}

body{
  background-color: #000;
}



.title{
  margin: 0px 16px;
  text-shadow: 1px 1px 1px #f00;

}

.title span{
  text-shadow: 1px 1px 1px #fff;
}

#navbar{
  background-color: #000;
}

img, svg {
  vertical-align: middle;
  width: 2%;
}

.navbar-nav {
  margin-left: 50px;
}


.nav-item .nav-link{
  margin-left: 20px;
}

.nav-item .nav-link:hover{
  background-color: rgb(255, 0, 0);
  color: #fff;
  border-radius: 10px;
}


#navbar  form button{
  background-color: #000;
}

/* .wrapper .icons{
  display: flex;
  column-gap: 30px;
  margin: 0px 35px;
  color: #fff;
} */



/* home */

#home{
  background: url(./images/banner/banner.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;

}

.home-heading{
  font-size: 3rem;
}

  .home-para{
  margin-top: 17px;
  width: 50%;
  /* line-height: 30px; */
}


#home .botton-line {
  background-color: #f00;
  width: 40%;
  height: 1vh;
}


/* about-us */

#about-us {
  width: 100%;
  height: 80vh;
}


#about-us  .container{
  padding-top: 110px;
}
#about-us .card img{
  width: 100%;
}


.about-us-heading  {
  margin-bottom: 20px;
}


.about-us-heading  span{
  color: #f00;
}


.about-btn{
  width: 200px;
  height: 35px;
}

.about-btn:hover{
  background-color: #f00;
  color:white ;
}


/* menu */
#menu{
  width: 100%;
  margin-top: 129px;

}

#menu .card{
  background-color: #000;
  transition: 0.5s;
  cursor: pointer;
}


#menu .card:hover{
  transform: translateY(-10px);

}
.menu-heading{
 
}

#container1{
  margin-top: 20px;
}

#menu h5{
  margin-top: 10px;
}


#menu img{
  width: 100%;
  height: 30vh;
}

#menu .price{
  margin-top: 10px;
}


#menu .price .btn:hover{
background-color: #f00;
color: #fff;
font-weight: bold;
}

#menu p{
  margin-top: 10px;
}


/* top  category*/

#top-category{
  width: 100%;
  top: 60vh;
  background: #000;
}
.top-category-heading{
  margin: 50px 0px;
}

.top-category-heading span{
  color: #f00;
}

.top-category-heading .container{
  margin-top: 30px;
}

#top-category .card{
  /* border-radius: 10px; */
  transition: 0.5s;
  cursor: pointer;
}

#top-category .card:hover{
  transform: translateY(-10px);
}

#top-category .card img{
  border-radius: 10px;
  width: 100%;
}

/* product */

#product{
  width: 100%;
  top: 60vh;
  background: #000;
}

#product .card{
  background-color: #000;
  transition: 0.3s;    
  cursor: pointer;
}

#product .card:hover{
  transform: translateY(-10px);

}

.product-heading{
  padding-top: 100px;
  margin: 50px 0px;
}

#product .product-heading span{
  color: #f00;
}

#container3{
  text-align: center;
}

#product p{
  margin-top: 10px;
}

#product .card img{
  width: 100%;
  height: 30vh;
  border: 1px solid rgb(241 133 133);
  border-radius: 20px;
}

#product h5 {
  color: #f00;
  margin-top: 10px;
}

/* gallery */

#gallery{
  width: 100%;
  margin-top: 129px;
}
.gallery-heading{
  border-bottom: 2px solid #f00;
}
#gallery .card{
  background-color: #000;
}

#gallery .card img{
  height: 30vh;
  border: 1px solid rgb(241 133 133);
  border-radius: 5px;
  width: 100%;
}

/* blogs */

#blogs{
  width: 100%;
}
#blogs .card{
  background-color: #000;
}

#blogs .blogs-heading{
  margin-top: 125px;
  margin-bottom: 30px;
}

#blogs .blogs-heading span{
  color: #f00;
}

#blogs h5{
  color: #f00;
}

#blogs h6{
  color: #fff;
}

#blogs p{
  color: #fff;
}

#blog-btn{
  width: 125px;
  height: 36px;
  border: none;
  color: #f00;
  border-radius: 50px;
}

#blog-btn:hover{
  background-color: #f00;
  color: #fff;
  border-radius: 50px;
}

#blogs img{
  width: 100%;  
  height: 20vh;
  border-radius: 10px;
  background: #000;
}

#blogs .container{
  margin-top: 60px;
}

.star i{
  color: #c55;
}


/* contact */

#contact{
  width: 100%;
  height: 80vh;
}

#contact  .container{
  padding-top: 140px;
}

.contact-heading {
  margin-bottom: 40px;

}

.contact-heading span{
  color: #f00;
}

#contact .botton-line{
  width: 95%;
  height: 3px;
  margin-top: 10px;
  background-color: #f00;
}

#contact .form-group{
  color: #fff;
}


/* footer */

#footer{
  width: 100%;
  margin-top: 30px;
}

#footer .links i{
  margin-left: 8px;
}

#footer .copyright{

} 
